Django==3.2.6
langchain # Replace <version> with the appropriate version of langchain
openai==0.27.2  # Check for the latest version on PyPI
pytz==2021.3
djangorestframework
django-cors-headers
faiss-cpu==1.7.4
unstructured
pdf2image
docx2txt
pdfminer
pillow_heif
cv2