Django==3.2.6
langchain # Replace <version> with the appropriate version of langchain
openai  # Check for the latest version on PyPI
pytz==2021.3
djangorestframework
django-cors-headers
faiss-cpu==1.7.4
unstructured
pdf2image
docx2txt
pdfminer
pillow_heif
langchain-community
azure-storage-blob
langchain-openai
